@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>@base.TempData["u1"]</h1>
<h1>@base.ViewBag.u2</h1>
<h1>@base.ViewData["u3"]</h1>
<h1>@base.Model</h1>
<h1>@base.Context.Session.GetString("u4")</h1>
